.hero-banner--default-height .hero-banner__img-container {
  height: 6rem;
}
.hero-banner--large-height .hero-banner__img-container {
  height: 7.25rem;
}
.hero-banner--small-height .hero-banner__img-container {
  height: 4.75rem;
}

  .hero-banner__content {
    padding-top: 2.8125rem;
    padding-bottom: 0.625rem;
    width: 28.375rem;
    border-radius: 0.1875rem;
  }
  .hero-banner .hero-banner__img-container {
    height: 100%;
  }
  .hero-banner--default-height .hero-banner__main {
    min-height: 12.5rem;
  }
  .hero-banner--large-height .hero-banner__main {
    min-height: 15.625rem;
  }
  .hero-banner--small-height .hero-banner__main {
    min-height: 9.375rem;
  }


  .hero-banner__content {
    padding-top: 2.8125rem;
    padding-bottom: 0.625rem;
    width: 28.375rem;
  }
  .hero-banner--default-height .hero-banner__main {
    min-height: 15.875rem;
  }
  .hero-banner--large-height .hero-banner__main {
    min-height: 22.125rem;
  }
  .hero-banner--small-height .hero-banner__main {
    min-height: 9.625rem;
  }

.hero-banner__content-container {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.hero-banner__img-container {
  height: 100%;
}
.hero-banner__img-container .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
.hero-banner__img-container .image div {
  width: 100%;
  height: 100%;
}
.hero-banner__img-container .image .cmp-image__link {
  height: 100%;
  display: block;
}
.hero-banner__img-container .image .cmp-image img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
}
.hero-banner .banner-content__cta .a-button:nth-child(2) {
  margin-top: 0.625rem;
}

  .hero-banner__main {
    position: relative;
  }
  .hero-banner__img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .hero-banner__content-container {
    position: relative;
    z-index: 2;
  }
  .hero-banner--content-left .hero-banner__content {
    margin-right: auto;
  }
  .hero-banner--content-center .hero-banner__content {
    margin-left: auto;
    margin-right: auto;
  }
  .hero-banner--content-right .hero-banner__content {
    margin-left: auto;
  }

