
:root {
  --card-left: 70px;
  --card-top: 100px;
  --card-width: 400px;     
  --card-padding: 40px;     
  --card-radius: 20px;
  --card-shadow: 0 10px 40px rgba(0,0,0,0.18);
}

/* Outer wrapper */
.herobanner-wrapper { width:100%; position:relative; }

/* Main block container */
.herobanner.block {
  position: relative;
  width: 100%;
  min-height: 420px; 
  overflow: hidden;
  display:block;
}

/* BACKGROUND (first child) */
.herobanner.block > div:first-child {
  position: absolute;
  inset: 0;               
  z-index: 1;
}
.herobanner.block > div:first-child picture,
.herobanner.block > div:first-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display:block;
}

/* -----------------------
   WHITE CARD (2nd div)
   ----------------------- */
.herobanner.block > div:nth-child(2) {
  position: absolute;
  left: var(--card-left);
  top: var(--card-top);
  width: var(--card-width);
  background: #fff;
  padding: var(--card-padding);
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  z-index: 6;
  box-sizing: border-box;
  height: 200px;
}


/* common styling  that contains text/p */
.herobanner.block > div:nth-child(3) > div,
.herobanner.block > div:nth-child(4) > div,
.herobanner.block > div:nth-child(5) > div,
.herobanner.block > div:nth-child(6) > div,
.herobanner.block > div:nth-child(7) > div {
  position: absolute;
  left: calc(var(--card-left) + var(--card-padding)); 
  width: calc(var(--card-width) - (var(--card-padding) * 2));
  z-index: 7;
  box-sizing: border-box;
  pointer-events: auto;
}

/* eyebrow */
.herobanner.block > div:nth-child(4) > div { 
  top: calc(var(--card-top) + 20px);
  color: #666;
  font-size: 15px;
  margin-bottom: 8px;
}
 /* title */
.herobanner.block > div:nth-child(5) > div {
  top: calc(var(--card-top) + 50px);
  font-size: 18px;
  line-height: 1.05;
  font-weight: 400;
  color: #032d78; 
}
/* description */
.herobanner.block > div:nth-child(6) > div {
  top: calc(var(--card-top) + 90px);
  font-size: 18px;
  color: #333;
}
/* CTA wrapper */
.herobanner.block > div:nth-child(7) > div { 
  top: calc(var(--card-top) + 110px);
  display: block;
}

/* style CTA link  */
.herobanner.block > div:nth-child(7) a,
.herobanner.block > div:nth-child(7) .button {
  display: inline-block;
  background: #e60a55;
  color: #fff;
  /* padding: 8px 20px; */
  border-radius: 8px;
  font-weight: 700;
  box-shadow: 0 4px 10px rgba(0,0,0,0.12);
 
}


.herobanner.block > div:nth-child(3) > div p,
.herobanner.block > div:nth-child(4) > div p,
.herobanner.block > div:nth-child(5) > div p,
.herobanner.block > div:nth-child(6) > div p {
  margin: 0;
  padding: 0;
}

/* HIDE ALT TEXT IF IMAGE PRESENT */
.herobanner.block:has(>div:first-child img[src]):not(:has(>div:first-child img[src=""])) > div:nth-child(3) { display: none; }